nav{
background-color: white;
display: flex;
}

nav .logo1{
    float: left;
    margin-left: 70px;
    
}

.logo2{
    float: left;
    margin-left: 200px;
}

.nav-items{
    display: flex;
    float:left;
    margin-left: 150px;
   
    
}
.nav-item{
    margin-right: 50px;
    
}
.nav-item active-item{
    color: #fe5e35;
}

.intro-section{
    display: flex;
    
 }

.left-section{
margin-left: 70px;
}



.left-section h3 img{
 margin-left: 20px;
 width: 40px;
}

.sub-headlines{
display: flex;
flex-direction: column;
}

.sub-headline{
   
    font-size: 23px;
    margin: 0px;
    margin-left: 70px;
    margin-top: 15px;
}

.sub-headline img{
    background-color: #fe5e35;
    border-radius: 50%;
    width: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 5px;
}
.text{
    margin: 0;
    margin-top: 25px;
    color: grey;
   width: 50%;
}

.action-btns{
    
    display: flex;
    float: left;
    margin-top: 50px;
}
.action-btn{
    background: #fe5e35;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px;
    margin-right: 20px;
    width: 130px;



}

.right-section{
  
   position: relative;
    
   
}


.img1{
    position: absolute;
    right: 480px;
    top: 180px;
    width: 100px;
    z-index: 2;
}

.discount-content{
    position: absolute;
    right: 498px;
    top: 205px;
    color: white;
    z-index: 3;
    
}

.discount-content h4{

    margin: 0px;
    padding: 0px;
}

.discount-content h1{

    margin: 0px;
    padding: 0px;
}

.img2{
  width: 270px;
  position: absolute;
  right: 250px;
  top: 20px;
}



.dots{
display: flex;
position: absolute;
top: 320px;
right: 300px;

}

.dot{
 width: 20px;
 height: 20px;
 border-radius: 50%;
 margin-right: 30px;
 opacity: 0.8;

}

.yellow-dot{
    background-color: yellow;
    
}

.tomato-dot{
    background-color: tomato;
}

.black-dot{
background-color: black;
}

.add{
    position: absolute;
    top: 389px;
    right:300px ;
}
